// THEME COLORS

$Roadside-1: #3E4147;
$Roadside-2: #CC4425;
$Roadside-3: #FFFFFF;
$Roadside-4: #EAECEF;

/* Color Theme Swatches in Hex */
$Graphic-Design-1-hex: #A6A5A4;
$Graphic-Design-2-hex: #BF9B7A;
$Graphic-Design-3-hex: #F2F2F2;
$Graphic-Design-4-hex: #262626;
$Graphic-Design-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$Graphic-Design-1-rgba: rgba(165, 165, 164, 1);
$Graphic-Design-2-rgba: rgba(191, 154, 122, 1);
$Graphic-Design-3-rgba: rgba(242, 242, 242, 1);
$Graphic-Design-4-rgba: rgba(38, 38, 38, 1);
$Graphic-Design-5-rgba: rgba(12, 12, 12, 1);

/* Color Theme Swatches in HSLA */
$Graphic-Design-1-hsla: hsla(45, 0, 64, 1);
$Graphic-Design-2-hsla: hsla(28, 35, 61, 1);
$Graphic-Design-3-hsla: hsla(0, 0, 95, 1);
$Graphic-Design-4-hsla: hsla(0, 0, 15, 1);
$Graphic-Design-5-hsla: hsla(0, 0, 5, 1);

  // Transparent versions
$Graphic-Design-10-hsla: hsla(45, 0, 64, 0.6);
$Graphic-Design-30-hsla: hsla(0, 0, 98, 1);
$Graphic-Design-50-hsla: hsla(0, 0, 5, .8);

// NAVBAR
$navbar-brand-width: 73px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
