// html, body{
//     height:auto;
//     min-height: 100vh;
// }

// THEME COLORS

$Roadside-1: #3E4147;
$Roadside-2: #CC4425;
$Roadside-3: #FFFFFF;
$Roadside-4: #EAECEF;

/* Color Theme Swatches in Hex */
$Graphic-Design-1-hex: #A6A5A4;
$Graphic-Design-2-hex: #BF9B7A;
$Graphic-Design-3-hex: #F2F2F2;
$Graphic-Design-4-hex: #262626;
$Graphic-Design-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$Graphic-Design-1-rgba: rgba(165, 165, 164, 1);
$Graphic-Design-2-rgba: rgba(191, 154, 122, 1);
$Graphic-Design-3-rgba: rgba(242, 242, 242, 1);
$Graphic-Design-4-rgba: rgba(38, 38, 38, 1);
$Graphic-Design-5-rgba: rgba(12, 12, 12, 1);

/* Color Theme Swatches in HSLA */
$Graphic-Design-1-hsla: hsla(45, 0, 64, 1);
$Graphic-Design-2-hsla: hsla(28, 35, 61, 1);
$Graphic-Design-3-hsla: hsla(0, 0, 95, 1);
$Graphic-Design-30-hsla: hsla(0, 0, 98, 1);
$Graphic-Design-4-hsla: hsla(0, 0, 15, 1);
$Graphic-Design-5-hsla: hsla(0, 0, 5, 1);


// $purple-dark: #9926f0;
// $purple-light: #bb6ef5;
// $pink: #d122e3;
// $footer: #151414;

// $primary: rgb(252, 252, 252);
// $primary: blue;
// $secondary: red;

// ACCORDION OVERRIDE
// $accordion-icon-color: $primary;
// $accordion-icon-active-color: $secondary;
// $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/></svg>");
// $accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");

// NAVBAR
$navbar-brand-width: 73px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
