@use '../custom' as *;

#section_About {
  height:auto;
  padding: 4rem 2rem 0 2rem;
  min-height: 100vh;
  width:100vw;
  height: 100vh;
  background-size: cover;
  background-color: $Roadside-4;

  background-image: linear-gradient(to bottom, $Graphic-Design-50-hsla, $Graphic-Design-10-hsla), url(/img/self3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
  .row{
    padding-bottom: 1rem;
  }
  .d-inline{
    padding-left: 1rem;
  }

  .blendedText {
    color: $Roadside-3;
    // mix-blend-mode: difference;
    filter: drop-shadow(0.05em 0.05em $dropshadow-color);
  }

  .bioLocation{
    margin: 1rem 0 1rem 0;
  }

  .bioInfo{
    margin: 0 3rem 0 2rem;
    // mix-blend-mode:normal;
    // opacity: .5;
    // .paragraphBox{
    //   mix-blend-mode:normal;
    //   background-color: white;
    //   opacity: .4;
    //   color: black;
    // }
  }
  .bioInfoParagraph{
    margin: 0 3rem 0 2rem;
    padding-bottom: 1rem;
  }

}


// #headshot {
//   max-width: 400px;
//   height: 400px;
//   object-fit: cover;
//   margin: 10px;
//   border: 10px solid $Graphic-Design-2-hsla;
//   border: 10px solid $Roadside-3;
//   border-radius: 500px;
//   -webkit-border-radius: 500px;
//   -moz-border-radius: 500px;
//   box-shadow: 0 0 8px rgba(0, 0, 0, .8);
//   -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
//   -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
// }



