@use '../custom' as *;

.navbar {
  padding: 2px 15px 0px 15px;                                       // scrunch navbar a bit
  background: linear-gradient(to top, $Roadside-4, $Roadside-3);
  border-bottom: 1px solid $Roadside-2;
  
  &-brand {
    margin: -6px 0 0 10px;
    &:hover{
      transition: all ease-in 150ms;
      scale: 1.02;
    }
  }

  &-collapse{
      // padding: 0 $navbar-brand-width 0 0;
    }

  ul {
    margin: auto; // center nav items
    
    li {
      padding: 0 0.7rem;
      padding-top: 2px;
      
      a {
        &.nav-link {
          font-family: "Open Sans", sans-serif;
          text-transform: lowercase;
          transition: margin ease-in 150ms;
          color: $Graphic-Design-1-hsla;
        }
        
        &:hover {
          color: $Graphic-Design-4-hsla;
          margin-top: -2px;
        }
        
        &.external-link:hover{
          background: url(/img/icons/arrow-up-right-from-square-solid_50.svg);
          background-position: bottom right;
          background-size: 15px 15px;
          background-repeat: no-repeat;
          padding-top: -5px;
          // background-color: rgba(0,0,0,.2);
        }

      }
    }
  }
}

$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

