@use '../custom' as *;

#section_Projects {

  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: 100vh;
  width: 100vw;
  height:auto;
  background-size: cover;
  background-color: $Roadside-4;
  // height: 100vh;

  .card-footer{
    background-color: $Roadside-3;
  }
  
}  