@use '../custom' as *;

#section_Projects {

  padding-top: 4rem;
  padding-bottom: 3rem;

  min-height: 100vh;

  // background-image: url(/img/bg5.jpg);
  width: 100vw;
  // height: 100vh;
  height:auto;
  background-size: cover;
  background-color: $Roadside-4;
}  