@use '../custom' as *;

// Font Variables
$arvo-font: 'Arvo', serif;   
$oswald-font: 'Oswald', sans-serif;
$openSans-font: 'Open Sans', sans-serif;
$roboto-font: 'Roboto', sans-serif;

// Styles
body {
  font-family: $openSans-font;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $oswald-font;
  font-weight: normal;
  // display: inline;
  // animation: type 4s steps(60, end); 
  mark{
    background-color: $mark-color;
    line-height: 15rem;
    margin: 1rem 1rem 2rem 0;
  }
}

.bioLocation{
  h2{
    font-family: $oswald-font;
    font-weight: normal;
    
  }

}

.bioInfo{
  h2{
    font-family: $roboto-font;
    font-weight: normal;
  }
}
#fade1{
  -webkit-animation: fadein 15s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 15s; /* Firefox < 16 */
      -ms-animation: fadein 15s; /* Internet Explorer */
       -o-animation: fadein 15s; /* Opera < 12.1 */
          animation: fadein 15s;
}
#fade2{
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}
#fade3{
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}
#fade4{
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}
#fade5{
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 6s; /* Firefox < 16 */
      -ms-animation: fadein 6s; /* Internet Explorer */
       -o-animation: fadein 6s; /* Opera < 12.1 */
          animation: fadein 6s;
}
#fade6{
  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 7s; /* Firefox < 16 */
      -ms-animation: fadein 7s; /* Internet Explorer */
       -o-animation: fadein 7s; /* Opera < 12.1 */
          animation: fadein 7s;
}
#fade7{
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 8s; /* Firefox < 16 */
      -ms-animation: fadein 8s; /* Internet Explorer */
       -o-animation: fadein 8s; /* Opera < 12.1 */
          animation: fadein 8s;
}
#fade9{
  -webkit-animation: fadein 9s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 9s; /* Firefox < 16 */
      -ms-animation: fadein 9s; /* Internet Explorer */
       -o-animation: fadein 9s; /* Opera < 12.1 */
          animation: fadein 9s;
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}