@use '../custom' as *;

// Font Variables
$arvo-font: 'Arvo', serif;   
$oswald-font: 'Oswald', sans-serif;
$openSans-font: 'Open Sans', sans-serif;
$roboto-font: 'Roboto', sans-serif;

// Styles
body {
  font-family: $openSans-font;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $oswald-font;
  font-weight: normal;
  // display: inline;
  animation: type 4s steps(60, end); 
  mark{
    background-color: $mark-color;
    line-height: 12rem;
    margin: 0.5rem 1rem .5rem 0;
  }
}

.aboutLocation{
  h2{
    font-family: $oswald-font;
    font-weight: normal;
  }
}

.aboutInfo{
  font-family: $roboto-font;
  font-weight: normal;
  h2 h3 {
    // font-family: $openSans-font;
    // font-family: $roboto-font;
    // font-weight: normal;
    // font-weight: normal;
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
}

.aboutLove{
  font-weight:normal;
  // mix-blend-mode: difference;
  // filter: drop-shadow(0.05em 0.05em $dropshadow-color);
}
h2 span { 
  font-family: $roboto-font;
  font-weight: 100;
  display: inline-block;
  opacity: 0;
  filter: blur(4px); 
  
}
.aboutEmphasize{
  font-weight: normal;
  // font-size: 2rem;
  // padding: 1rem 5px 0 5px;
}
